/*fonts start*/
html {
  scroll-behavior: smooth;
}
@font-face {
	src: url(webfonts/Brandon_light.otf);
	font-family: Brandon_light;
}
@font-face {
	src: url(webfonts/Brandon_reg.otf);
	font-family: Brandon_reg;
}
@font-face {
	src: url(webfonts/Brandon_med.otf);
	font-family: Brandon_med;
}
@font-face {
	src: url(webfonts/Brandon_bld.otf);
	font-family: Brandon_bld;
}
/*fonts end*/
/*typhography start*/
body {
	margin: 0;
	padding: 0;
}
h1 {
	font-family: Brandon_bld;
	font-size: 65px;
	text-transform: uppercase;
	color: #FFFFFF;
}
h2 {
	font-family: Brandon_light;
	font-weight: 300;
	font-size: 30px;
	text-transform: capitalize;
	color: #FFFFFF;
}
span {
	font-family: Brandon_bld;
}
 p {
 	font-family: Brandon_reg;
	font-weight: 400;
	font-size: 18px;
    line-height: 1.5em;
}
/*typhography end*/
/*header start*/
header {
	background: url(images/Escape.jpg) no-repeat 0 0 / 100% 100%;;
	
}
.container {
	width: 70%;
	margin: 0 auto; 
	overflow: hidden;
}
/*menu-area start*/
.menu-area {
	overflow: hidden;
	margin-top: 30px;
}
.menu-area .logo {
	width: 15%;
	float: left;
	margin-top: 8px;
	margin-left: 20px;
}
.menu-area .logo img {
	width: 100%;
}
.menu-area .menu {
	width: 70%;
	float: right;
}
.menu-area .menu ul {
	float: right;
}
.menu-area .menu ul li {
	list-style: none;
	float: left
}
.menu-area .menu ul li a {
	font-family: Brandon_med;
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
	border-bottom: 1px solid transparent;
	display: inline-block;
	margin: 0 20px;
}
.menu-area .menu ul li:last-child a {
	margin-right: 0;
}
.menu-area ul li a:hover {
	border-bottom: 1px solid #000000;
}
/*menu-area end*/
/*content-area start*/
header .content-area {
	padding: 100px 0;
	text-align: center;
}


.btn {
	font-family: Brandon_bld;
	text-transform: capitalize;
	text-decoration: none;
	color: #FFFFFF;
	padding: 20px 50px;
	border-radius: 2px;
	font-size: 16px;
	letter-spacing: 2px;
	display: inline-block;
	border: 2px solid #FFFFFF;
	border-radius: 4px;
	margin: 20px 0;
}
/*content-area end*/
/*header end*/
/*web-area start*/
	.web-area {
		padding: 50px 0;
	}
	.container2 {
	width: 65%;
	margin: 0 auto; 
	overflow: hidden;
}
	.web-area .content {
		width: 65%;
		float: left;
	}
	.web-area .content h2 {
		font-size: 40px;
		color: #222222; 
	}
	.web-area .icon {
		width: 25%;
		float: right;
		padding-top: 50px;
	}



/*web-area end*/
/*branding-area start*/
.branding-area {
	background-color: #fafafa;
	padding: 50px 0;
}
.branding-area .icon {
	width: 25%;
	float: left;
	padding-top: 50px;
}
.branding-area .content {
	width: 65%;
	float: right;
}
.branding-area .content h2 {
	font-size: 40px;
	color: #222222; 
}

/*branding-area end*/

/*portfolio start*/
.portfolio {
	overflow: hidden;
	padding: 80px 0;
}
.portfolio .col-1-2 {
	width: 45%;
	float: left;
	margin: 20px 0;
}
.portfolio .col-1-2:nth-last-child(odd) {
  margin-left: 10%;
  
}
.portfolio i {	
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: black;
	padding: 15px;
}
.portfolio i.icon-bar {	
	font-size: 30px;
	color: white;
	text-align: center;
	 margin-top: 10px;
}

.portfolio .content-area {
	float: right;
	width: 80%;
}
.portfolio .content-area h3 {
	font-family: Brandon_med;
	font-weight: 500;
	font-size: 20px;
	text-transform: capitalize;
	margin: 0 0;
	color: #222222;
}
.portfolio .content-area p {
	line-height: 1.5em;
	color: #777777;
	margin-top: 5px;

}
/*portfolio end*/
/*client area start*/
.client-area {
	background-color: #fafafa;
	padding: 50px 0; 
}
.client-content {
	text-align: center;
}
.client-content h2 {
	font-size: 60px;
	color: #222222; 
	margin-bottom: 0;
}
.client-content p {
	color: #777777;
	margin-top: 5px;
}
.feedback {
	overflow: hidden;
}
 .feedback img {
 	width: 200px;
 	height: 200px;
 	border-radius: 50%;
 	float: left;
 }
 .client-1 .talk {
 	width: 60%;
	height: 100px;
	background: #FFFFFF;
	margin: 30px 30px;
	position: relative;
	transition: 1s;
	float: right;
	padding: 40px 30px;
 }
 .client-1 .talk:before {
 	content: '';
	height: 0;
	width: 0;
	position: absolute;
	right: 100%;
	top: 50%;
	transition: 1s;
	 border-top: 13px solid transparent;
      border-right: 26px solid #FFFFFF;
      border-bottom: 13px solid transparent;
 }
 .talk h4 {
 	font-family: Brandon_reg;
 	font-weight: 400;
 	font-size: 20px;
 	color: #777777;
 	line-height: 2em;
 	margin: 0;
 }
 .talk p {
 	font-size: 16px;
 	color: #7690c5;
 }

 .client-2 {
	overflow: hidden;
}
.client-2 img {
 	width: 200px;
 	height: 200px;
 	border-radius: 50%;
 	float: right;
 }
 .client-2 .talk {
 	width: 60%;
	height: 100px;
	background: #FFFFFF;
	margin: 30px 30px;
	position: relative;
	transition: 1s;
	float: left;
	padding: 40px 30px;
 }
 .client-2 .talk:before {
 	content: '';
	height: 0;
	width: 0;
	position: absolute;
	left: 100%;
	top: 50%;
	transition: 1s;
	 border-top: 13px solid transparent;
      border-left: 26px solid #FFFFFF;
      border-bottom: 13px solid transparent;
 }
/*client area end*/
/*advertise start*/
.advertise {
	padding: 50px 0;
}
.advertise img {
	padding: 0 25px;
}

/*advertise end*/
/*team area start*/
.team {
	background-color: #111111;
	padding: 50px 0;
	text-align: center;
}
.top-bar {
	padding: 40px 0;
}
.top-bar h2 {
 	font-size: 50px;
 	margin: 0;
}
.top-bar p {
	color: #777777;
	margin-top: 0;
}
.middle-bar {
	overflow: hidden;
}
.middle-bar img {
	width: 200px;
 	height: 200px;
 	border-radius: 50%;
}
.col-1-3 h4 {
	font-family: Brandon_bld;
	 font-weight: 700;
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

.middle-bar p {
	font-size: 14px;
    color: #ebebeb;
    margin: 0;
}

.middle-bar .social-icon ul {
	padding: 0;
}
.social-icon ul li {
    list-style: none;
    display: inline;
}
.social-icon ul li a i {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    color: white;
    line-height: 40px;
    border-radius: 50%;
    font-size: 20px;
    margin: 0 5px;
    transition: .6s;
}

.middle-bar .col-1-3 {
	width: 33%;
	float: left;
}
.bottom-bar p {
    font-size: 20px;
    color: white;
    width: 70%;
    margin: 50px auto;
}

/*team area end*/
/*contact start*/
.contact{
	overflow: hidden;
	background-color: #7690c5;
	padding: 50px 0;
}
.contact .address{
	width: 48%;
	float: left;
}
.contact .address h2{
	font-size: 50px;
	margin-bottom: 0;
}
.contact .address p{
	font-size: 18px;
	color: #FFFFFF;
	margin-bottom: 0;
}
.contact .address table{
	font-family: Brandon_reg;
	font-size: 20px;
	font-weight: 400;
	width: 100%;
	color: #FFFFFF;
	margin-top: 30px;
}
.contact .address tr,td{
	padding-top: 30px;
	font-size: 14px;
}
.contact .contact-form{
	width: 48%;
	float: left;
	margin-left: 4%;
}
.contact .contact-form .contact-bar {
	font-family: Brandon_med;
	font-weight: 500;
	font-size: 18px;
	width: 100%;
	padding: 15px;
	margin-top: 25px;
	border-radius: 4px;
	outline: none;
	border: none;
}
/*contact end*/
/*footer start*/
footer{
	background-color: #7690c5;
	text-align: center;
}
.footer-content {
	border-top: 1px solid #87a0d2;
}
.footer-content p {
	font-family: Brandon_med;
	font-weight: 500;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	padding: 25px 0; 
}
/*footer end*/








